@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font: 10pt 'Raleway', sans-serif;
    color: black;
    margin: 0;
    min-height: 100vh;
    background: white url(/images/background.jpg) center center/cover no-repeat;
}

a {
    color: black;
    text-decoration: none;
}

.seznam {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
}

.vizitka {
    width: 36em;
    height: 16em;
    border: 1px solid gray;
    background-color: white;
    margin: 1em;
    padding: 1.5em;
    box-shadow: 5px 5px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vizitka--nova {
    background-color: #FFFFFF66;
    border: 3px dotted white;
    justify-content: center;
    align-items: center;
}

a:hover .vizitka {
    box-shadow: 10px 10px 10px black;
    transform: translate(-5px, -5px);
    transition: box-shadow 0.2s, transform 0.2s;
}

.jmeno {
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    margin: 1em 0 1em 0;
}

.firma {
    text-align: center;
    margin-bottom: 2em;
}

.udaje {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.kontakty {
    text-align: right;
}

.detail {
    min-height: 100vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail nav {
    margin: 1em;
    font-size: 150%;
}

.detail nav a {
    color: white;
}

.detail nav a:hover {
    text-decoration: underline;
}

.mapa {
    width: 36em;
    height: 36em;
    border: 1px solid gray;
    margin: 1em;
    box-shadow: 5px 5px 10px black;
}

.tlacitko {
    margin-top: 20px;
}

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
